{
    organism: "monkey"
    genome: ["Macaca_mulatta_Mmul_10_114_SIVmac251_withMotif"]
    input_fasta: ["/mnt/novaoutput/shunian/scRNA/makeCustomizeGenome/24155-06_Macaca_mulatta_Mmul_10_SIVmac251_multi/Mmul10_SIV.fa"]
    input_gtf: ["/mnt/novaoutput/shunian/scRNA/makeCustomizeGenome/24155-06_Macaca_mulatta_Mmul_10_SIVmac251_multi/Mmul10_SIV.gtf"]
    input_motifs: "/mnt/novaoutput/shunian/scRNA/makeCustomizeGenome/24155-06_Macaca_mulatta_Mmul_10_SIVmac251_multi/JASPAR2018_CORE_vertebrates_non-redundant_pfms_jaspar.txt"
}
